body{
  font-family:helvetica;
  font-size: 24px;
}

header{
  background-color:#696969;
  color:black;
  padding:20px;
  text-align:centre;
}

.container{
  display:flex;
  flex-wrap:wrap;
  gap:80px40px;
  justify-content:space-between;
  align-items:space-between;
}

nav{
  background-color:maroon;
  padeing:20px;
}

nav ul li{
  display:inline-block;
  width:80%;
}

nav img{
  width:15%;
}

ul li a{
  color:black;
}

li{
  color:black;
}

main{
  background-color:#696969;
  color:black;
  padding:20px;
  font-size:24px;
  text-align:centre;
}

p{
  line-height:1.3;
}


footer{
  background-color:yellow;
  color:black;
}

#skip-link:focus{
  top:10px;
}

  



